<html lang="en">
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Ginny Wong Showroom">
    <meta name="author" content="Michael Angarola">
    <!--<link rel="icon" href="favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="Styles/site.css">
    <title>Ginny Wong Showroom</title>
</head>
<body>

<script src="Scripts/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="Scripts/angular-route.min.js"></script>
</body>
</html>